* {
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#page_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  margin: 30px;
  padding: 50px;
  background-color: rgb(31, 37, 0);
}

.article-card a {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin: 0;
}

.hamburger-react {
  /* position: absolute;
  left: 10px;
  top: 45px; */
  color: #ffffff;
}

/* > framework styling < */

.decoration-none {
  text-decoration: none;
  list-style-type: none;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

/* .flex {
  display:flex;
  justify-content: space-between;
  flex-direction: row-reverse;
} */

/* header {
  margin: 15px;
} */

/* > end framework styling < */

/* ---> aside styles <--- */

/* .aside {
  position: absolute;
  
}

.show-aside {
  height: 100%;
  background-color:rgb(65, 20, 20);
}

.aside ul {
  list-style-type: none;
  padding: 40px;
}

aside ul li a {
  text-decoration: none;
  color: bisque;
} */

/* ---> NavBar styles <--- */

nav {
  /* position:absolute;
  top: 0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.show-navbar {
  height: 100%;
  background-color:rgb(65, 20, 20);
}

.navbar-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  text-align: left;
  margin-left: 10px;
  padding-top: 20px;
  /* padding: 40px; */
}

.navbar-item {
  text-decoration: none;
  color: bisque;
  margin: 0px 10px 0px 10px;
}

/* > END navbar styles < */

.turtle-image {
  width: 100%;
}

/* about styles */

.high-five {
  width: 600px;
}

.name {
  margin-bottom: 30px;
}

/* .high-five {
  margin-bottom: 30px;
} */

.about-text {
  margin: 30px 200px;
  font-size: 1.3rem;
}

/* mission statement styles */

.mission-title {
  font-size: 2.2rem;
}

.mission-text {
  margin: 30px 300px;
  font-size: 1.3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
